* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("animal_photo.jpg.jpg");
    background-size: cover;
}

.container {
    height: 400px;
    width: 300px;
    text-align: center;
    color: white;
    background-color: black;
    margin: 38%;
    margin-top: 8%;
    border-radius: 25px;
}

.text {
    position: relative;
    top: 7%;
}

h1 {
    font-size: 36px;
    color: aqua;


}

.inp1 {
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 15px;
    margin-top: 40px;
    outline: none;
    color: #ffffff;


}

p {
    margin-top: 25px;
    font-size: 22px;
}

button {
    width: 250px;
    height: 40px;
    background-color: aqua;
    color: black;
    ;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin: 30px;

}

button:hover {
    border: 2px solid aqua;
    background-color: black;
    color: white;
    font-size: 22px;
}

span {
    color: aqua;
}